@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

/* Reset  */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

/* Setting width */

html, body, header #root {
  max-width: 100%;
}

body {
  background: #fff;
}

body, input, button {
  font-family: Source sans pro, sans-serif;
}

/* Header */
header {
  width: 100%;
  background: #0f0f0f;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  padding: 30px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


header h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: left;
  margin-left: 150px;
}

header h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-align: right;
  margin-right: 150px;
}

/* Input warnings */

form input:invalid {
  box-shadow: none;
}

/* Footer */

footer {
  width: 100%;
  background: #0f0f0f;
  gap: 0;
  padding: 30px 0;
  color: #fff;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer span {
  text-align: left;
  margin-left: 150px;
}

footer ul {
  text-align: right;
  list-style: none;
  margin-right: 150px;
}

footer ul li {
  display: inline-block;
}

footer ul li:nth-child(2) {
  border-left: 2px solid #fff;
  padding-left: 10px;
  margin-left: 10px;
}

/* Mobile and tablets */
@media (max-width: 874px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header h1 {
    margin-left: 0;
    text-align: center;
  }
  header h2 {
    margin-right: 0;
    text-align: center;
  }
  footer span {
    text-align: center;
    margin-left: 0;
  }
  
  footer ul {
    text-align: center;
    list-style: none;
    margin-right: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  footer ul li:nth-child(2) {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
  }
}
